<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AttendeeCentral</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.mobiloitte</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AttendeeCentral</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>calshow</string>
				<string>fb1256751794358229</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>li4804815</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1007506303482-r5atf958h2ps72bj1t33a1oflo76k63j</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.mobiloitte</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>CLIENT_ID</key>
	<string>1007506303482-r5atf958h2ps72bj1t33a1oflo76k63j.apps.googleusercontent.com</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>c5934d6478dd776964c3da16af2c2b730fcc8a2e</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>hUSZWErXWj1p0UAZEoSqXyso1</string>
					<key>consumerSecret</key>
					<string>C6jSxAqpAtMRczNN2suqGra2zq36QpeVZKSgCKQedxbvD0jRtl</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1256751794358229</string>
    <key>UberClientID</key>
    <string>rSflRcJDzJn4MJc-A4ABQEs6vHaxN5rG</string>
    <key>UberServerToken</key>
    <string>FMIOvrMnU_vboZ9N50fUhiPDehBEbkeQ4hUwU0S2</string>
    <key>UberDisplayName</key>
    <string>Attendee Central</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
        <string>uber</string>
        <string>uberauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007506303482-tid3h30jp5b9prdr6t1i5qrecd6abm38</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>VarelaRound-Regular.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Attendee Central wants to access your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Attendee Central wants to access your location.</string>
</dict>
</plist>
